*{
    box-sizing: border-box;
}

.App {
    background: #c2c2c2;
    padding: 12px;
    border-width: 3px;
    border-style: solid;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
}

.Header {
    background-color: #c0c0c0;
    padding: 10px 12px;
    border-width: 3px;
    border-style: solid;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Body {
    margin-top: 16px;
    border-width: 3px;
    border-style: solid;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.NumberDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.field{
    display: flex;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}


.mineDef{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: url("/src/icons/sprites.png");
    background-position: -85px -51px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: url("/src/icons/sprites.png");
    background-position: 0px -51px;
}

.flag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: url("/src/icons/sprites.png");
    background-position: -34px -51px;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: url("/src/icons/sprites.png");
    background-position: -51px -51px;
}

.faceSmile {
    width: 26px;
    height: 26px;
    background: url("/src/icons/sprites.png");
    background-position: 0px -24px;
}

.faceSmile:active{
    width: 26px;
    height: 26px;
    background: url("/src/icons/sprites.png");
    background-position: -27px -24px;
}

.faceOh {
    width: 26px;
    height: 26px;
    background: url("/src/icons/sprites.png");
    background-position: -54px -24px;
}

.faceDie {
    width: 26px;
    height: 26px;
    background: url("/src/icons/sprites.png");
    background-position: -108px -24px;
}

.faceWon {
    width: 26px;
    height: 26px;
    background: url("/src/icons/sprites.png");
    background-position: -81px -24px;
}